<!DOCTYPE html>
<html>
<head>
	<title>Edit intro</title>
	{include file="common/header" /}
	 <style>
        fieldset {
            padding: .35em .625em .75em;
            margin: 0 2px;
            border: 1px solid silver;
        }

        legend {
            padding: .5em;
            border: 0;
            width: auto;
        }
    </style>
</head>
<body>
<div class="full-container">
<form  class="form-horizontal" role="form" id="intro-from">
	<div class="row form-group">
		<label for="title" class="col-sm-2 control-label text-right">简介类别：</label>
		<div class="col-sm-8">
			<select class="form-control">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
		</div>
	</div>
	<div class="row form-group">
        <label for="description" class="col-md-2 control-label text-right">详细描述 : </label>
        <div class="col-sm-8">
            <div id="description" name="description">
            	123
            </div>
        </div>
    </div>
	<hr >
	<div class="row form-group">
		<div class="col-sm-1"></div>
		<div class="col-sm-7">
			<a type="button" class="btn btn-primary" href="/admin/manage/index?main=Intro">返回</a>
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-primary" onclick="saveIntro()">保存</button>
			{if condition="!empty($intro)"}
			<button type="button" class="btn btn-danger" onclick="delIntro({$intro['id']})">删除</button>
			{/if}
		</div>
	</div>
</form>
<br /><br /><br />

</div>
</body>
<script type="text/javascript">
function saveIntro() {
  var params = $("#intro-from").serializeArray();
  $.post("/admin/manage/saveIntro",  params ,
      function(data){
        data = $.parseJSON(data);
        if( data.result ) {
          	bootbox.alert("保存成功",function() {});
        } else {
           bootbox.alert(data.message,function() {});
        }
  });
}
</script>
</html>