<!DOCTYPE html>
<html>
<head>
	<title>Edit project</title>
	{include file="common/header" /}
	 <style>
        fieldset {
            padding: .35em .625em .75em;
            margin: 0 2px;
            border: 1px solid silver;
        }

        legend {
            padding: .5em;
            border: 0;
            width: auto;
        }
    </style>
</head>
<body>
<div class="full-container">
<form  class="form-horizontal" role="form" id="project-from">
	<div class="page-header text-center ">
	{if condition="!empty($project) && !empty($project['id'])"}
	<h1>{$project['title']}</h1>
	<input type="hidden" name="id" value="{$project['id']}">
	{else /}
	<h1>创建工程案例</h1>
	{/if}
	</div>
	<div class="row form-group">
		<label for="firstclass" class="col-sm-2 control-label text-right">分类：</label>
		<div class="col-sm-2">
			{$category.title}
		</div>
	</div>
	<div class="row form-group">
		<label for="title" class="col-sm-2 control-label text-right">名称(zh)：</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="title" placeholder="请输入名称"
			value='{notempty name="project"}{$project["title"]}{/notempty}'
			>
		</div>
		<label for="title_en" class="col-sm-1 control-label text-right">名称(en)：</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="title_en" placeholder="请输入名称"
			value='{notempty name="project"}{$project["title_en"]}{/notempty}'
			>
		</div>
	</div>
	<div class='row form-group'>
		<label for="img" class="col-sm-2 control-label text-right">图片(1280*850)</label>
		<div class="col-sm-8">
			<input class="btn btn-primary" type="file" id="project_uploadimg" multiple 
				accept="*.gif, *.jpeg, *.png, *.jpg, *.bmp " /><br /><br />
			<img wdith="300" height="200" name="img_url" src="{notempty name='project'}{$project['img_url']}{/notempty}">
			<input type="hidden" name="img_url" value="{notempty name='project'}{$project['img_url']}{/notempty}">
		</div>
	</div>
	<div class="row form-group">
        <label for="description" class="col-md-2 control-label text-right">详细描述(zh) : </label>
        <div class="col-sm-8">
            <div id="description" name="description" style="width:100%;height: 100%;">
            {notempty name='project'}{$project['description']}{/notempty}
            </div>
        </div>
    </div>
    <div class="row form-group">
        <label for="description" class="col-md-2 control-label text-right">详细描述(en) : </label>
        <div class="col-sm-8">
            <div id="description_en" name="description_en" style="width:100%;height: 100%;">
            {notempty name='project'}{$project['description_en']}{/notempty}
            </div>
        </div>
    </div>
	<hr >
	<div class="row form-group">
		<div class="col-sm-1"></div>
		<div class="col-sm-3">
			<a type="button" class="btn btn-primary" href="/admin/manage/index?main=project">返回</a>
		</div>
		<div class="col-sm-6"></div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-primary" onclick="saveproject()">保存</button>
			{if condition="!empty($project)"}
			<button type="button" class="btn btn-danger" onclick="delproject({$project['id']})">删除</button>
			{/if}
		</div>
	</div>
</form>
<hr>
<div class='row form-group'>
		<label for="text_uploadimg" class="col-sm-2 control-label text-right">富文本图片</label>
		<div class="col-sm-8">
			<input class="btn btn-primary" type="file" id="text_uploadimg" multiple 
				accept="*.gif, *.jpeg, *.png, *.jpg, *.bmp " />
			<label for="text_uploadimg" class="col-sm-1 control-label text-right" >地址</label>
			<input type="text" name="text_img_url" style="margin-left: 100px;width: 500px;" value=""><br /><br />
			<img wdith="300" height="200" name="text_img_url" src="">
			
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
$(document).ready( function(){
	$("#project_uploadimg").change(function(){
	    var formData = new FormData();
	    var f = $('#project_uploadimg')[0].files[0];
	    formData.append('file', f); // 固定格式
	    uploadImg ( formData, function( data ) {
	    	$("img[name='img_url']").attr("src",data.obj.url);
	    	$("input[name='img_url']").val(data.obj.url);
	    } );
	});
});

function saveproject() {
  var params = $("#project-from").serializeArray();
  $.post("/admin/manage/saveproject", {
         params : params
      } ,
      function(data){
        data = $.parseJSON(data);
        if( data.result ) {
        	bootbox.alert("保存成功",function() {});
        } else {
        	bootbox.alert(data.message,function() {});
        }
  });
}

function delproject( id ) {
  $.post("/admin/manage/delproject", {
         id : id
      } ,
      function(data){
        data = $.parseJSON(data);
        if( data.result ) {
        	bootbox.alert("删除成功",function() {
        		window.location.href = "/admin/manage/index?main=project";
        	});
        } else {
           bootbox.alert(data.message,function() {});
        }
  });
}

// 富文本编辑图片
$("#text_uploadimg").change(function(){
    var formData = new FormData();
    var f = $('#text_uploadimg')[0].files[0];
    formData.append('file', f); // 固定格式
    uploadImg ( formData, function( data ) {
    	$("img[name='text_img_url']").attr("src",data.obj.url);
    	$("input[name='text_img_url']").val(data.obj.url);
    } );
});
</script>
</body>
</html>