<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/bootstrap-treeview.min.css">
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/trumbowyg.min.js"></script>
	<script type="text/javascript" src="__JS__/ueditor.all.js"></script>
	
	<title>ueditor demo</title>
</head>
<body>
	<!-- 加载编辑器的容器 -->
    <script id="container" name="content" type="text/plain">
        这里写你的初始化内容
    </script>
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
</body>
</html>