/**
 * 	通用样式
 */

body {
	color: #7c7c7c;
    background: url(../img/20220829145059.png) center 0 repeat-x #ededed;
    font: 11px/1.35;
    margin: 0px;
}

.clear {
    clear: both;
}

ol, ul {
    list-style: none;
}

.hidden {
    display: none;
}

/** 头部主体 */
.layout {
	width: 958px;
    margin: 0 auto;
    background: url(../img/container-bg.png) no-repeat 0 50px;
}

/** 头部上面部分 介绍 */
.layout .head {
    height: 140px;
    position: relative;
    z-index: 99;
    background: #fff;
}

.layout .head .head-top .logo {
    display: inline;
    float: left;
    margin: 20px 0 0 10px;
    position: absolute;
}

.layout .head .head-top .logo a {
    display: block;
    width: 500px;
    height: 70px;
    text-indent: -9999px;
}

.layout .head .head-top .head_right {
    display: inline;
    float: right;
    margin: 20px 42px 0 0;
    zoom: 1;
    background: url(../img/tel.gif) no-repeat 0px 20px;
    padding-left: 20px;
}

.layout .head .head-top .head_right .languages { 
    float:right;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 12px;
}

.layout .head .clear {
    clear: both;
}

/** 头部上面部分 导航 */
.layout .head .nav {
    width: 900px;
    height: 44px;
    margin: 11px auto 0;
    /*background: url(../img/nav.png) no-repeat 0 -44px;*/
    background-color:#216b9a;
    zoom: 1;
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
}

.layout .head .nav li {
    float: left;
    text-align: center;
    line-height: 44px;
    display: inline;
}

.layout .head .nav li:nth-child(1) {
/*    background: url(../img/home4.png) left no-repeat;*/
}

.layout .head .nav li + li {
    background: url(../img/li_bg.jpg) left no-repeat;
}

.layout .head .nav li a {
    display: block;
    height: 44px;
    color: #fff;
    font-size: 14px;
    font-family: "微软雅黑";
    text-shadow: -1px -1px 0 #000;
    padding: 0 30px;
}

.layout .head .nav li a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

.layout .head .nav li a:hover { 
    color:#FFF; 
    text-decoration:none; 
    text-shadow:none;
}

.layout .head .nav li a:hover, .layout .head .nav li.current a, .layout .head .nav li.hover a { 
    /*background-image:url(../img/nav.png);*/
    background-color: #CCCCCC;
    background-repeat:no-repeat;
}
/* 头部结束 */

/** 主体部分 开始 */ 

.layout .containerBox {
    width: 958px;
    margin: 0 auto;
    background-color: #fff;
}

.layout .containerBox .container {
    width: 943px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
}

.layout .containerBox .container .banner {
    margin-top: 8px;
    margin-left: 8px;
    width: 943px;
    overflow: hidden;
}

.layout .containerBox .container .contentBox {
    margin-top: 8px;
}
/** 主体左边部分 开始 */
.layout .containerBox .container .contentBox .sideBox {
    display: inline;
    width: 220px;
    float: left;
}


.layout .containerBox .container .contentBox .sideBox .sider {
    float: left;
    width: 210px;
    padding-right: 10px;
    overflow: hidden;
    background: url(../img/bg_sider.png) no-repeat 100% 15px;
}

.layout .containerBox .container .contentBox .sideBox .sider .products {
    width: 210px;
    height: 37px;
    background-color: #216b9a;
    color: #FFF;
    text-align: center;
    font-weight: normal;
    font-size: 120%;
    line-height:35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1px;
}

.layout .containerBox .container .contentBox .sideBox .sider .product_title {
    height: 32px;
    font-size: 14px;
    border-bottom: 1px solid #ecf5ff;
    line-height: 32px;
    cursor: pointer;
    background: url(../img/category_1.png) no-repeat;
}

.layout .containerBox .container .contentBox .sideBox .sider .product_title a {
    display: block;
    width: 150px;
    height: 1005;
    padding-left: 16px;
    color: #666;
    text-decoration: none;
    float: left;
}

.layout .containerBox .container .contentBox .sideBox .sider .product_title:hover {
    background: url(../img/category_2.png) no-repeat;
}

.layout .containerBox .container .contentBox .sideBox .sider .product_title img {
    float: right;
    padding-top: 6px;
}

/** 主体左边部分 联系内容 开始 */
.layout .containerBox .container .contentBox .sign_up {
    position: relative;
    float: left;
    width: 210px;
    margin: 14px 0 0 0;
    padding: 18px 0 20px;
    /*background: #37352d url(../img/bg_index_contact.gif) repeat-x;*/
    border-radius: 10px;
    color: #FFF;
    background-color: #216b9a;
}

.layout .containerBox .container .contentBox .sign_up .contact-us {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 12px;
    background: url(../img/email.png) no-repeat 10px 0px;
    height: 24px;
}

.layout .containerBox .container .contentBox .sign_up span {
    display: block;
    padding: 8px 0px 0px 10px;
    font-size: 10px;
}

.layout .containerBox .container .contentBox .sign_up .sideqcode {
    width: 100px;
    height: 100px;
    background: url(../img/wx.png) no-repeat 0px 0px;
    background-size: 25px 25px;
    background-position-y: 40px;
    margin-top: 5px;
    padding-left: 35px;
}

/** 主体左边部分 联系内容 结束 */

/** 主体左边部分 结束 */

/** 主体右边部分 开始 */
.layout .containerBox .container .contentBox .rightMain {
    display: inline;
    width: 705px;
    float: right;
    min-height: 500px;
}

.layout .containerBox .container .contentBox .rightMain .crumb {
    margin-top: 2px;
    color: #403d36;
    padding-bottom: 10px;
}

.layout .containerBox .container .contentBox .rightMain .crumb a {
    text-decoration: none;
}

.layout .containerBox .container .contentBox .rightMain .crumb a:link, 
.layout .containerBox .container .contentBox .rightMain .crumb a:visited {
    color: #403d36;
}

.layout .containerBox .container .contentBox .rightMain .crumb a:link, 
.layout .containerBox .container .contentBox .rightMain .crumb a:visited {
    color: #666;
    text-decoration: none;
}

.layout .containerBox .container .contentBox .rightMain .crumb span {
    padding: 0 5px;
}

.layout .containerBox .container .contentBox .rightMain .crumb hr {
    border-style: dotted;
}

/** 主体内容 开始 */

/** 产品展示 */
.layout .containerBox .container .contentBox .rightMain .list_row {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 20px;
    list-style: none;
}

.layout .containerBox .container .contentBox .rightMain .list_row li {
    list-style: none;
    float: left;
    margin-right: 20px;
    margin-bottom: 60px;
}

.layout .containerBox .container .contentBox .rightMain .list_row li a {
    height: 140px;
    width: 140px;
    margin-right: 0px;
    display: block;
}

.layout .containerBox .container .contentBox .rightMain .list_row li a:link, 
.layout .containerBox .container .contentBox .rightMain .list_row li a:visited {
    color: #666;
    text-decoration: none;
}

.layout .containerBox .container .contentBox .rightMain .list_row li img {
    width: 140px;
    height: 140px;
    margin: 0;
    padding: 0;
}

.layout .containerBox .container .contentBox .rightMain .list_row li span {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

/** 工程案例 */
.layout .containerBox .container .contentBox .rightMain .case_row {
    margin-top: 20px;
    padding-left: 12px;
    list-style: none;
}

.layout .containerBox .container .contentBox .rightMain .case_row li {
    list-style: none;
    display: inline-block;
    float: left;
    width: 210px;
    height: 215px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.layout .containerBox .container .contentBox .rightMain .case_row li a {
    width: 218px;
    border: 1px solid #CCC;
    height: 215px;
    text-align: center;
    display: block;
    color: #000;
    text-decoration: none;
}

.layout .containerBox .container .contentBox .rightMain .case_row li a img {
    width: 214px;
    height: 174px;
    margin-top: 2px;
}

.layout .containerBox .container .contentBox .rightMain .case_row li a div {
    padding-top: 10px;
    background: url(../img/pro_bg.jpg) center top no-repeat;
    line-height: 32px;
}

/** 新闻展示 */
.layout .containerBox .container .contentBox .rightMain .news_row a {
    text-decoration: none;
    color:#000;
}

.layout .containerBox .container .contentBox .rightMain .news_row div {
    width: 600px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}

.layout .containerBox .container .contentBox .rightMain .news_row .new_check {
    text-decoration: underline;
    color:#090
}

/** 分页展示 */
.layout .containerBox .container .contentBox .rightMain .page {
    clear: both;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 10px 0px;
}

.layout .containerBox .container .contentBox .rightMain .page .diy_page {
    font: 12px/21px;
    clear: both;
    margin: 0 auto;
    text-align: center;
    color: #999;
}

.layout .containerBox .container .contentBox .rightMain .page .diy_page a {
    text-decoration: none;
    color: #333;
    border: 1px solid #FFBB55;
    padding: 0 4px;
    margin-right: 1px;
}

.layout .containerBox .container .contentBox .rightMain .page .diy_page a.current {
    color: red;
    border: 1px solid #FFBB55;
    background: #F96;
}


.layout .containerBox .container .contentBox .rightMain .content-image {
    text-align:center; 
    padding:20px;
}

.layout .containerBox .container .contentBox .rightMain .content-title {
    border-bottom: 1px dashed #CCC;
    height: 30px;
    line-height: 30px;
    background: #eee;
    padding-left: 10px;
}

.layout .containerBox .container .contentBox .rightMain .content-detail {
    line-height:30px; 
    background:#fff; 
    padding-left:10px;
}

/** intro info  */
.intro-content {
    padding-left: 10px;
    padding-right: 10px;
    text-indent:2em;
    margin-top: 12px;
    margin-bottom: 30px;
}

.intro-contact-us {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 16px;
}

.intro-contact-us div {
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: 900;
}

.intro-contact-us .qcode {
    background: url('../img/wx.png') no-repeat 0px 0 ;
    background-size: 30px 30px;
    background-origin: left;
    width: 200px;
    height: 200px;
    padding-left: 30px;
}

.intro-contact-us .qcode img {
    width: 100px;
    height: 100px;
    padding-left: 30px;
}

/** 主体内容 结束 */

/** 主体右边部分 结束 */

/** 主体部分 结束 */


/** 下部链接部分 开始 */


.links {
    width: 938px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    line-height: 70px;
    background: url(../img/footer-bg.jpg) center no-repeat #fff;
    padding: 0px 10px;
}

.links .link-imgs {
    width:800px; 
    overflow:hidden; 
    height:50px; 
    line-height:50px; 
    margin-right:15px; 
    margin-top:10px;
}

/** 下部链接部分 结束 */

.footBox {
    padding-bottom: 30px;
    background: #0b446e url(../img/bg_foot.gif) repeat-x;
}

.footBox .foot {
    width: 958px;
    margin: 0 auto;
}

.footBox .foot .foot_top {
    height: 13px;
    background: url(../img/content_bottom.gif) no-repeat 0 0;
}

.footBox .foot .foot_bottom {
    text-align: center;
    position: relative;
}

.footBox .foot .foot_bottom p {
    margin-top: 10px;
    font-size: 13px;
}

.footBox .foot .foot_bottom p a {
    margin-left:  15px;
}

.footBox .foot .foot_bottom a:link, 
.footBox .foot .foot_bottom a:visited {
    color: #FFF;
    text-decoration: underline;
}

.footBox .foot .foot_bottom p.copyright {
    color: #FFF;
    width: 100%;
}