<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="static/dist/js/bootstrap.bundle.min.js"></script>
	<title>首页</title>
</head>
<body>
	<div class="layout">
		{include file="common/header" /}

		<div class="containerBox">
			<div class="container">
				<div class="contentBox">
					<div class="banner">
						<a href="/"><img src="/static/img/banner2_banner_02.jpg"></a>
					</div>
 
					<!-- 主体左边部分 -->
					{include file="common/sider" /}
					<!-- 主体右边部分 -->
					<div class="rightMain">
						<div class="crumb"><a href="/">{$Think.lang.category_index}</a><span>&gt;&gt;</span>{$category ['title']}</div>
						<hr >
						{notempty name="product_detail"}
						<div class="content-image"><img src="{$product_detail.img_url}" alt="点击放大" title="点击放大"></div>
						<div class="content-title">{$Think.lang.product_name}：{$product_detail.title}</div>
						<div class="content-detail">
						{$product_detail.description}
                    	</div>
       					{/notempty}

       					{notempty name="products"}
                    	<ul class="list_row">
							{volist name="products" id="product"}
                       		<li><a href="/?cid=2&did={$did}&pid={$product.id}"><img src="{$product.img_url}"><span>{$product.title}</span></a></li>
                       		{/volist}
                        </ul>
                        <div class="clear"></div>
                        <div class="page">
							<div class="diy_page">
								{for start = "0" end="$total_page"}
								<a href="?page={$i+1}&amp;cid={$cid}&amp;did={$did}" {if condition="$page eq $i + 1"}class="current"{/if}>{$i+1}</a>
								{/for}
								<span disabled="">{$Think.lang.common_page|sprintf=$page, $total_page, $total}</span>
							</div>
       					</div>
       					{/notempty}

       					{notempty name="project_detail"}
						<div class="content-image"><img src="{$project_detail.img_url}" style="width:30%;height:100%;" alt="点击放大" title="点击放大"></div>
						<div class="content-title">{$Think.lang.cooperative_brands}：{$project_detail.title}</div>
						<div class="content-detail">
						{$project_detail.description}
                    	</div>
       					{/notempty}

       					{notempty name="projects"}
       					<ul class="case_row">
							{volist name="projects" id="project"}
                       		<li><a href="/?cid=4&did={$did}&pid={$project.id}"><img src="{$project.img_url}"><div>{$project.title}</div></a></li>
                       		{/volist}
                        </ul>
                        <div class="clear"></div>
                        <div class="page">
							<div class="diy_page">
								{for start = "0" end="$total_page"}
								<a href="?page={$i+1}&amp;cid={$cid}&amp;did={$did}" {if condition="$page eq $i + 1"}class="current"{/if}>{$i+1}</a>
								{/for}
								<span disabled="">{$Think.lang.common_page|sprintf=$page, $total_page, $total}</span>
							</div>
       					</div>
       					{/notempty}

       					{if condition="($cid eq 1) AND ($tid eq 4)"}
						<div class="intro-contact-us">
							<div>
								<span>{$home ['name'] ['value']}</span>
							</div>
							<div>
								<label>{$Think.lang.common_address}: </label>
								<span>{$home ['address'] ['value']}</span>
							</div>
							<div>
								<label>{$Think.lang.common_phone}: </label>
								<span>{$home ['phone'] ['value']}</span>
							</div>
							<div>
								<label>{$Think.lang.common_tel}: </label>
								<span>{$home ['tel'] ['value']}</span>
							</div>
							<div>
								<label>{$Think.lang.common_fax}: </label>
								<span>{$home ['fax'] ['value']}</span>
							</div>
							<div>
								<label>{$Think.lang.common_zipcode}: </label>
								<span>{$home ['zipcode'] ['value']}</span>
							</div>
							<div>
								<label>{$Think.lang.common_email}: </label>
								<span>{$home ['email'] ['value']}</span>
							</div>
							<div>
								<label>{$Think.lang.common_web}: </label>
								<span>{$home ['web'] ['value']}</span>
							</div>
							<div>
								<label>{$Think.lang.common_wx}: </label>
							</div>
							<div class="qcode">
								<span><img src="{$home ['qcode'] ['value']}"></span>
							</div>
						</div>
						{elseif condition="($cid eq 1)" /}
						<div class="intro-content">
							{$intro ['description']}
						</div>
						{/if}


       					{notempty name="news_detail"}
						<h1 style="text-align:center;">{$news_detail.title}</h1>
						<div class="content-detail">
						{$news_detail.description}
                    	</div>
       					{/notempty}

       					{notempty name="news"}
       					<ul class="news_row">
       						{volist name="news" id="n"}
                       		<li>
                       			<a href="/?cid=3&pid={$n.id}"><h2>{$n.title}</h2></a>
                       			<a href="/?cid=3&pid={$n.id}"><div>{$n.description}</div><div class="new_check">查看全文</div></a>
                       		</li>
                       		{/volist}
       					</ul>
       					{/notempty}
					</div>
				</div>
			</div>
		</div>
	</div>
	{include file="common/links" /}

	{include file="common/foot" /}
</body>
</html>