<div class="footBox">
	<div class="foot">
<!-- 		<div class="foot_top"></div> -->
		<div class="foot_bottom">
			<div class="content" style="padding-top:10px;">
				<p>
					<a href="/" title="" rel="nofollow">首页</a>
					<a href="/" title="">公司简介</a>
					<a href="/" title="">产品中心</a>
					<a href="/" title="" rel="nofollow">新闻中心</a>
					<a href="/" title="" rel="nofollow">案例展示</a>
					<a href="/" title="" rel="nofollow">相关资质</a>
					<a href="/" title="" rel="nofollow">人才招聘</a>
					<a href="/" title="" rel="nofollow">关于我们</a></p>
					<p class="copyright">Copyright © 2010 <a href="/" style="font-weight:bold">岱恩工贸有限公司</a>&nbsp;&nbsp;<a href="/" target="_blank"> 备案号：沪ICP备19039281号-1</a>
					</p>
					<div style="width:300px;margin:0 auto; padding:20px 0;">
						<a target="_blank" href="/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
							<img src="/static/img/ba.png" style="float:left;">
							<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#FFF;">沪公网安备 31011702002624号</p>
						</a>
					</div>
				</p>
			</div>                 	 
		</div>
	</div>
</div>