<div class="footBox">
	<div class="foot">
<!-- 		<div class="foot_top"></div> -->
		<div class="foot_bottom">
			<div class="content" style="padding-top:10px;">
				<p>
					<a href="/" title="" rel="nofollow">{$Think.lang.category_index}</a>
					<a href="/?cid=1&tid=1" title="">{$Think.lang.category_company_profile}</a>
					<a href="/?cid=2&did=0" title="">{$Think.lang.category_product_center}</a>
					<a href="/?cid=3&did=0" title="" rel="nofollow">{$Think.lang.category_news_center}</a>
					<a href="/?cid=4&did=45" title="" rel="nofollow">{$Think.lang.category_engineering_case}</a>
					<a href="/?cid=1&tid=3" title="" rel="nofollow">{$Think.lang.category_talent_recruitment}</a>
					<a href="/?cid=1&tid=4" title="" rel="nofollow">{$Think.lang.category_contact_us}</a></p>
					<p class="copyright">Copyright © 2010 <a href="/" style="font-weight:bold">{$home ['name'] ['value']}</a>&nbsp;&nbsp;{if condition="$language eq 'zh-cn'"}<a href="http://beian.miit.gov.cn/" target="_blank">备案号：沪ICP备2022025685号</a>{/if}
					</p>
					{if condition="$language eq 'zh-cn-1'"}
					<div style="width:300px;margin:0 auto; padding:20px 0;">
						<a target="_blank" href="/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
							<img src="/static/img/ba.png" style="float:left;">
							<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#FFF;">沪公网安备 2022025685号</p>
						</a>
					</div>
					{/if}
				</p>
			</div>                 	 
		</div>
	</div>
</div>