<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" href="__CSS__/manage.index.css">
<link rel="stylesheet" href="__CSS__/bootstrap-table.min.css">
<link rel="stylesheet" href="__CSS__/trumbowyg.min.css">
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-table.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="__JS__/trumbowyg.min.js"></script>
<script type="text/javascript" src="__JS__/manage.index.js"></script>
<script type="text/javascript" src="__JS__/ueditor.config.js"></script>
<script type="text/javascript" src="__JS__/ueditor.all.js"></script>
<script type="text/javascript" src="__DIST_JS__/bootbox.min.js"></script>